<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CLEAN MARKUP = GOOD KARMA.
      Hi source code lover,

      you're a curious person and a fast learner ;)
      Let's make something beautiful together. Contribute on Github:
      https://github.com/webslides/webslides

      Thanks,
      @jlantunez.
    -->

	<!-- SEO -->
	<title>Aprendiendo VueJS: Un ejemplo práctico de cómo usarlo

	</title>
	<meta name="description" content="WebSlides is the easiest way to make HTML presentations, portfolios, and landings. Just essential features.">

	<!-- URL CANONICAL -->
	<!-- <link rel="canonical" href="http://your-url.com/"> -->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext"
	 rel="stylesheet">

	<!-- CSS Base -->
	<link rel="stylesheet" type='text/css' media='all' href="static/css/base.css">

	<!-- CSS Colors -->
	<link rel="stylesheet" type='text/css' media='all' href="static/css/colors.css">

	<!-- Optional - CSS SVG Icons (Font Awesome) -->
	<link rel="stylesheet" type='text/css' media='all' href="static/css/svg-icons.css">

	<!-- SOCIAL CARDS (ADD YOUR INFO) -->

	<!-- FACEBOOK -->
	<meta property="og:url" content="http://your-url.com/">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Aprendiendo VueJS: Un ejemplo práctico de cómo usarlo">
	<meta property="og:description" content="">
	<meta property="og:updated_time" content="2017-01-04T17:20:50">
	<meta property="og:image" content="static/images/bg/cover.jpg">

	<!-- TWITTER -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@jdonsan">
	<meta name="twitter:creator" content="@jdonsan">
	<meta name="twitter:title" content="Aprendiendo VueJS: Un ejemplo práctico de cómo usarlo">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="static/images/bg/cover.jpg">

	<!-- FAVICONS -->
	<link rel="shortcut icon" sizes="16x16" href="static/images/favicons/favicon.png">
	<link rel="shortcut icon" sizes="32x32" href="static/images/favicons/favicon-32.png">
	<link rel="apple-touch-icon icon" sizes="76x76" href="static/images/favicons/favicon-76.png">
	<link rel="apple-touch-icon icon" sizes="120x120" href="static/images/favicons/favicon-120.png">
	<link rel="apple-touch-icon icon" sizes="152x152" href="static/images/favicons/favicon-152.png">
	<link rel="apple-touch-icon icon" sizes="180x180" href="static/images/favicons/favicon-180.png">
	<link rel="apple-touch-icon icon" sizes="192x192" href="static/images/favicons/favicon-192.png">

	<!-- Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#333333">

</head>

<body>
	<main role="main">
		<article class="bg-white" id="webslides">

			<!-- Slide: Portada -->
			<section class="bg-black-blue aligncenter">
				<span class="background dark" style="background-image:url('static/images/bg/cover.jpg')"></span>
				<div class="wrap">
					<h1 class="text-landing text-shadow">
						<strong class="bg-light">Aprendiendo VueJS</strong>
					</h1>
					<p class="text-shadow">
						Un ejemplo práctico de cómo usarlo
					</p>
				</div>
				<footer>
					<div class="wrap">
						<p>
							<span class="alignright">
								<a href="https://github.com/jdonsan/charla-aprendiendo-vuejs" target="_blank">
									<svg class="fa-twitter">
										<use xlink:href="#fa-twitter"></use>
									</svg>
									@jdonsan
								</a>
							</span>
						</p>
					</div>
				</footer>
			</section>

			<!-- Slide: Acerca de -->
			<section class="">
				<div class="wrap">
					<div class="card-50 bg-white">
						<figure>
							<img src="static/images/jdonsan.png" alt="me">
							<figcaption>
								<a href="https://www.twitter.com/jdonsan" title="Me">
									<svg class="fa-camera">
										<use xlink:href="#fa-camera"></use>
									</svg>
									Avatar de @oneeyedman
								</a>
							</figcaption>
						</figure>
						<div class="flex-content">
							<h2>
								Jose Dongil
							</h2>
							<p>> Desarrollador Web</p>
							<ul class="description">
								<li>
									<strong class="text-label">Email:</strong> jose.dongil@gmail.com</sup>
								</li>
								<li>
									<strong class="text-label">Twitter:</strong> @jdonsan</li>
								<li>
									<strong class="text-label">Website:</strong> el.abismo = de[null]</li>
							</ul>
							<p>
								Desarrollando se vive mejor
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Slide: Bloque 1 -->
			<section class="bg-primary">
				<span class="background dark" style="background-image:url('static/images/bg/bloc.jpg')"></span>
				<div class="wrap size-60">
					<p class="text-context">BLOQUE I</p>
					<h2>
						<strong class="bg-light">INTRODUCCIÓN</strong>
					</h2>
				</div>
			</section>

			<!-- Slide: ¿Otro framework más? ¿Por qué? -->
			<section>
				<div class="wrap aligncenter">
					<h2>¿Otro
						<strong class="bg-light">framework</strong> más?</h2>
					<img class="size-70" src="static/images/frameworks.png" alt="¿otro framework?" />
				</div>
			</section>

			<!-- Slide: ¿Framework progresivo? -->
			<section>
				<div class="wrap aligncenter">
					<h2>Puedo incluir funcionalidad de forma
						<strong class="bg-light">progresiva</strong>
					</h2>
					<img class="size-70" src="static/images/plataforma-vue-1.png" alt="Plataforma Vue">
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h2>En la charla nos centraremos en
						<strong class="bg-light">SPA Medias</strong>
					</h2>
					<img class="size-70" src="static/images/plataforma-vue-2.png" alt="Plataforma Vue">
				</div>
			</section>

			<!-- Slide: ¿Arbol de componentes? -->
			<section class="bg-white">
				<div class="wrap aligncenter">
					<h2>Nuestra web como un
						<strong class="bg-light">árbol de componentes</strong>
					</h2>
					<img class="size-70" src="static/images/components.png" alt="Arbol de componentes">
				</div>
			</section>

			<!-- Slide: ¿Reactivo? -->
			<section class="bg-white">
				<div class="wrap aligncenter">
					<h2>El sistema trabaja de forma
						<strong class="bg-light">reactiva</strong>
					</h2>
					<div style="margin-top: 3rem;">
						<video autoplay loop>
							<source src="static/gifs/reactive.mp4" type="video/mp4">
						</video>
					</div>
				</div>
			</section>

			<!-- Slide: Y qué más? -->
			<section>
				<div class="wrap aligncenter">
					<h2>
						Compagina 2 tipos de
						<strong class="bg-light">Data Binding</strong>
					</h2>
					<img src="static/images/binding.png" alt="Tipos de binding en Vue">
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h2>
						Utiliza
						<strong class="bg-light">Virtual DOM</strong>
					</h2>
					<img class="size-70" src="static/images/vdom.png" alt="Virtual Dom">
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h1>
						Sin dependencias, escribe
						<strong class="bg-light">HTML, CSS y JS</strong>
					</h1>
					<p class="text-intro">
						No es nada intrusivo en el flujo de trabajo convencional de cualquier front
					</p>
				</div>
			</section>

			<!-- Slide: Bloque 2 -->
			<section class="bg-primary">
				<span class="background dark" style="background-image:url('static/images/bg/bloc.jpg')"></span>
				<div class="wrap size-60">
					<p class="text-context">BLOQUE II</p>
					<h2>
						<strong class="bg-light">PRACTIQUEMOS UN POCO</strong>
					</h2>
				</div>
			</section>

			<section class="fullscreen">
				<div class="embed">
					<video autoplay loop controls>
						<source src="static/videos/vue-debug.mp4" type="video/mp4">
					</video>
				</div>
			</section>

			<section>
				<div class="wrap content-center">
					<h1>Instalamos</h1>
					<br>
					<br>
					<h2>
						<strong class="bg-light">1</strong>
					</h2>
					<h3 class="text-intro">
						NodeJS
						<code>https://nodejs.org</code>
					</h3>
					<br>
					<br>
					<br>
					<br>
					<h2>
						<strong class="bg-light">2</strong>
					</h2>
					<h3 class="text-intro">
						vue-cli
						<code>$ npm install vue-cli -g</code>
					</h3>
				</div>
			</section>

			<!-- Slides: Cómo empiezo -->
			<section class="fullscreen">
				<div class="embed">
					<video autoplay loop controls>
						<source src="static/videos/como-empezar-vue.mp4" type="video/mp4">
					</video>
				</div>
			</section>

			<!-- Slide: Estructura de ficheros -->
			<section>
				<div class="wrap aligncenter">
					<img style="margin-top: -5rem;" class="size-50" src="static/images/files-vue.png" alt="Ficheros proyecto de Vue">
				</div>
			</section>

			<!-- Slide: Fichero raiz -->
			<section>
				<div class="wrap aligncenter">
					<h2>Nuestra Webapp empieza por
						<strong class="bg-light">MAIN.JS</strong>
					</h2>
					<br>
					<pre>
					import Vue from 'vue';
					import App from './layouts/app.vue';
					
					new Vue({
						el: '#app',
						template: '&lt;app/&gt;',
						components: { App }
					});	
					</pre>
				</div>
			</section>

			<!-- Slide: Estructura de mi aplicación -->
			<section>
				<div class="wrap aligncenter">
					<img style="margin-top: -5rem;" class="size-70" src="static/images/arbol-componentes.png" alt="Estructura de aplicación">
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<img style="margin-top: -5rem;" class="size-70" src="static/images/search-box-componente.png" alt="Ficheros proyecto de Vue">
				</div>
			</section>

			<!-- Slide: Estructura de un componente -->
			<section class="fullscreen">
				<div class="embed">
					<video autoplay loop controls>
						<source src="static/videos/fichero-vue.mp4" type="video/mp4">
					</video>
				</div>
			</section>

			<!-- Slide: Templates y directivas -->
			<section>
				<div class="wrap aligncenter">
					<h2>
						<strong class="bg-light">Elementos</strong> de un template</h2>
					<ul class="flexblock features">
						<li>
							<div>
								<span>{{ }}</span>
								<h2>La interpolación</h2>
								Permiten pintar datos de nuestro modelo por pantalla mediante un marcado de llaves.
							</div>
						</li>
						<li>
							<div>
								<span>V-</span>
								<h2>Las directivas</h2>
								Son atributos HTML personalizados que aumentan el comportamiento de las etíquetas estándar o de los componentes. Los oficiales
								de Vue empiezan por v-
							</div>
						</li>
						<li>
							<div>
								<span>|</span>
								<h2>Los filtros</h2>
								Son transformaciones visuales sobre datos del modelo. Convertir 2000 en 2.000,00€ por ejemplo.
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h2>
						<strong class="bg-light">Ejemplo</strong>
					</h2>
					<p>
						<code>Pintar películas si existen resultados</code>
					</p>
					<pre>
&lt;template&gt;
	&lt;subpanel v-if="movies"&gt;
		&lt;h2&gt;Se han encontrado {{ movies.total_results | normalize }} resultados&lt;/h2&gt;
		&lt;movie 
			v-for="movie in movies.results" 
			:key="movie.id"
			:id="movie.id" 
			:title="movie.title" 
			:posterPath="movie.poster_path" 
			:voteAverage="movie.vote_average"
			:voteCount="movie.vote_count"
		/&gt;
		&lt;pagination 
			:page="movies.page" 
			:totalPages="movies.total_pages"
			@page="searchMovieByPage" 
		/&gt;
	&lt;/subpanel&gt;
&lt;/template&gt;
					</pre>
				</div>
			</section>

			<!-- Slide: Estado, métodos y computed -->
			<section>
				<div class="wrap aligncenter">
					<h2>
						<strong class="bg-light">DATA</strong>
					</h2>
					<h3>
						Estado interno de un componente. Son reactivos y mutables. Para nosotros son un objeto plano. Ayudan como esquema interno
					</h3>
				</div>
			</section>

			<section class="fullscreen">
				<div class="embed">
					<video autoplay loop controls>
						<source src="static/videos/estado-vue.mp4" type="video/mp4">
					</video>
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h2>
						<strong class="bg-light">METHODS</strong>
					</h2>
					<h3>
						Son funciones que manejan los eventos disparados por el usuario
					</h3>
				</div>
			</section>

			<section class="fullscreen">
				<div class="embed">
					<video autoplay loop controls>
						<source src="static/videos/event-vue.mp4" type="video/mp4">
					</video>
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h2>
						<strong class="bg-light">COMPUTED</strong>
					</h2>
					<h3>
						Propiedades que reacciona a cambios realizados en el estado
					</h3>
				</div>
			</section>

			<!-- Slide: Comunicación de componentes -->
			<section>
				<div class="wrap aligncenter">
					<h2>
						<strong class="bg-light">Comunicación</strong> entre componentes</h2>
					<img class="size-50" src="static/images/comunication.png" alt="Comunicacion en componentes de vue">
				</div>
			</section>

			<section class="fullscreen">
				<div class="embed">
					<video autoplay loop controls>
						<source src="static/videos/props-vue.mp4" type="video/mp4">
					</video>
				</div>
			</section>

			<section class="fullscreen">
				<div class="embed">
					<video autoplay loop controls>
						<source src="static/videos/comunication-vue.mp4" type="video/mp4">
					</video>
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h2>
						<strong class="bg-light">Propiedades</strong> y
						<strong class="bg-light">Estados</strong>
					</h2>
					<img class="size-50" src="static/images/flow-vue.png" alt="Comunicacion en componentes de vue">
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h2>
						<strong class="bg-light">SLOT</strong>
					</h2>
					<h3>
						Permite crear componentes cuya etiqueta HTML es de tipo bloque
					</h3>
				</div>
			</section>

			<section>
				<div class="wrap">
					<div class="grid">
						<div class="column">
							<h2>
								<strong class="bg-light">Esto</strong>...</h2>
							<br>
							<pre>
&lt;-- component children --&gt;
&lt;template&gt;
   &lt;div&gt;
      &lt;h2&gt;{{ title }}&lt;/h2&gt;
      &lt;slot&gt;&lt;/slot&gt;
   &lt;/div&gt;
&lt;/template&gt;
	
	
&lt;-- component parent --&gt;
&lt;template&gt;
   &lt;children title="Hola amigos y amigas"&gt;
      &lt;h3&gt;Esto es HTML5Spain&lt;/h3&gt;
   &lt;/children&gt;
&lt;/template&gt;
								</pre>
						</div>
						<div class="column">
							<h2>... recuerda a
								<strong class="bg-light">esto</strong>
							</h2>
							<br>
							<pre>
// función
function showPanel(title, callback) {
   console.log(title);
   callback();
}
	
	
	
	
// ejecución de función
showPanel(
   'Hola amigas y amigos', 
   () => console.log('Esto es HTML5Spain')
);

	
	
								</pre>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<h2>
						¿Cómo <strong class="bg-light">reutilizo</strong>
						lógica entre componentes?
					</h2>
					<h3>Con <strong class="bg-light">MIXINS</strong></h3>
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<img style="margin-top: -5rem;" class="size-70" src="static/images/vistas-componentes.png" alt="Ficheros proyecto de Vue">
				</div>
			</section>

			<section>
				<div class="wrap aligncenter">
					<pre>
        import Vue from 'vue';
        import Router from 'vue-router';
        import HomeView from '@/views/home-view.vue';
        import AboutView from '@/views/about-view.vue';
        import MovieView from '@/views/movie-view.vue';

        Vue.use(Router);
	
        export default new Router({
            routes: [
                { path: '/', name: 'home', component: HomeView },
                { path: '/about', name: 'about', component: AboutView },
                { path: '/movie/:movieId', name: 'movie-detail', component: MovieView, props: true }
            ]
        });
					</pre>
				</div>
			</section>

			<!-- Slide: Bloque 3 -->
			<section class="bg-primary">
				<span class="background dark" style="background-image:url('static/images/bg/bloc.jpg')"></span>
				<div class="wrap size-60">
					<p class="text-context">BLOQUE III</p>
					<h2>
						<strong class="bg-light">CONCLUSIONES</strong>
					</h2>
				</div>
			</section>

			<!-- Slide: Lo que NO me gusta de VueJS -->
			<section class="bg-white">
				<div class="wrap">
					<h2>Lo que
						<strong class="bg-secondary">NO</strong> me gusta</h2>
					<ul class="flexblock steps">
						<li>
							<h2>01. No Web Components</h2>
							<p>El concepto de componente no sigue el estandar. No hay Shadow DOM</p>
						</li>
						<li>
							<div class="process step-2"></div>

							<h2>02. Todavía bastante configuración</h2>
							<p>En aplicaciones grandes se sigue necesitando mucha fontanería para que funcionen</p>
						</li>
						<li>
							<div class="process step-3"></div>

							<h2>03. La reactividad de objetos y arrays</h2>
							<p>La API es bastante fea y puede traer malentendidos al principio. La mejorarán en Vue 3</p>
						</li>
					</ul>
				</div>
			</section>

			<!-- Slide: Lo que SI me gusta de VueJS -->
			<section>
				<div class="wrap">
					<h2>Lo que
						<strong class="bg-primary">SÍ</strong> me gusta</h2>
					<ul class="flexblock steps">
						<li>
							<h2>01. API intuitiva</h2>
							<p>Fácil de aprender, poco intrusiva, centrada en objetos planos</p>
						</li>
						<li>
							<div class="process step-2"></div>

							<h2>02. Sin dependencias de terceros</h2>
							<p>Con incluir la librería de Vue, puedo empezar a crear componentes</p>
						</li>
						<li>
							<div class="process step-3"></div>

							<h2>03. Comunidad muy activa</h2>
							<p>Entorno maduro, con un abánico amplio de herramientas y librerías oficiales y no oficiales</p>
						</li>
						<li>
							<div class="process step-4"></div>

							<h2>04. Documentación Excelente</h2>
							<p>No necesitas muchos más recursos para aprender. La actualizan al día y es muy usable y completa</p>
						</li>
					</ul>
				</div>
			</section>

			<!-- Slide: Recursos -->
			<section class="bg-white">
				<div class="wrap aligncenter">
					<h2>Si te apetece saber más, apunta estos
						<strong class="bg-light">recursos</strong>
					</h2>
					<div class="content-center">
						<ul class="flexblock specs">
							<li>
								<div>
									<svg class="fa-github">
										<use xlink:href="#fa-github"></use>
									</svg>
									<h2>Awesome VueJS</h2>
									<a href="https://github.com/vuejs/awesome-vue" alt="Awesome VueJS" target="_blank">
										Enlace oficial
									</a>
								</div>
							</li>
							<li>
								<div>
									<svg class="fa-youtube">
										<use xlink:href="#fa-youtube"></use>
									</svg>
									<h2>Curso de VueJS y Firebase de Juan Andrés Núñez</h2>
									<a href="http://wmedia.teachable.com/p/aprende-vue2-y-firebase-paso-a-paso" alt="Curso de VueJS" target="_blank">
										Listado de vídeos
									</a>
								</div>
							</li>
							<li>
								<div>
									<svg class="fa-book">
										<use xlink:href="#fa-book"></use>
									</svg>
									<h2>Learning VueJS</h2>
									<a href="https://www.amazon.es/dp/1786469944?tag=pymlk3g3kr-20" alt="Libro de VueJS" target="_blank">
										Página oficial
									</a>

								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<!-- Slide: Gracias -->
			<section class="fullscreen bg-black-blue aligncenter">
				<div class="embed dark">
					<video autoplay loop>
						<source src="static/gifs/thanks.mp4" type="video/mp4">
					</video>
				</div>
				<div class="wrap">
					<h1 class="text-landing text-shadow">
						<strong>Gracias</strong>
					</h1>
				</div>
				<footer>
					<div class="wrap">
						<p>
							<span class="alignright">
								<a href="https://github.com/jdonsan/charla-aprendiendo-vuejs" target="_blank">
									<svg class="fa-twitter">
										<use xlink:href="#fa-twitter"></use>
									</svg>
									@jdonsan
								</a>
							</span>
						</p>
					</div>
				</footer>
			</section>

		</article>

	</main>

	<!-- Required -->
	<script src="static/js/webslides.js"></script>
	<script>
		window.ws = new WebSlides();
	</script>

	<!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
	<script defer src="static/js/svg-icons.js"></script>

</body>

</html>